<div class="content mat-typography">
    <div class="login-head">
        <h1 class="login-head-text">Login/Signup</h1>
    </div>
    <div class="login-panels">
        <div class="shopkeeper">
            <h2 class="title">For Sellers</h2>
            <div class="btns">
                <button mat-raised-button (click)="sellerLogin()">Login</button>
                <button mat-raised-button>Signup</button>
            </div>
        </div>
        <div class="customer">
            <h2 class="title">For Buyers</h2>
            <div class="btns">
                <button mat-raised-button>Login</button>
                <button mat-raised-button>Signup</button>
            </div>
        </div>
    </div>

</div>